
.OuterBox{


    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: 1000px;

    display: flex;
    align-items: flex-start;

}
.OuterBox #editor-div{
    width: 60%;
    height: 100%; 
    
}
#editor{
    font-size: 2rem;
}
.OuterBox #sidebox{
    width: 40%;
    height: 100%;

    margin-left: 5%;
    margin-right: 7%;

    background-color: #EBEBEB;
}