<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dot</title>
    
    <link rel="stylesheet" href="/static/styles.css">
    <!-- Include stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.3/dist/quill.snow.css" rel="stylesheet" />
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.3/dist/quill.js"></script>
</head>
<body>
    
    <div class="OuterBox">
        <div id="editor-div">
            <div id="editor"></div>
        </div>
        <div id="sidebox">
            <div class="red" id="userInputArea"></div>
            <div class="green" id="outputArea"></div>
            <button onclick="replaceText()">Replace</button>
        </div>
    </div>
    <div>
        <button type="submit" id="sub" onclick="submit_button_quill()">Submit</button>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/static/script1.js"></script>
   
</body>
</html>




